# Build Folders
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# Build results
*.dll
*.exe
*.pdb

# Logs
*.log

# Temporary
*.tmp
*.cache
*.db

# OS specific
.DS_Store
Thumbs.db

# Publish output
publish/
